*{
    padding: 0;
    margin: 0;
}
.banner{
    color: rgb(243,243,243);
    background-color: rgba(8, 24, 44, 0.432);
    z-index: -2;
    padding-top: 50px;
    width: 100%;
    font-family: arial;
    height: 220px;
}
@media(max-width:550px){
    .banner{
        background-color: rgba(7, 15, 26, 0.637);
        color: rgb(243,243,243);
        z-index: -2;
        font-family: arial;
        height: 170px;
        width: 100%;
}
}
.bimg{
    width: 100%;
    height: 220px;
    position: absolute;
    z-index: -1;
}
@media(max-width:550px){
    .bimg{
        height: 170px;
        width: 100%;
    }
}
.bh{
        padding: 65px 0px 0px 50px;
        font-size: 50px;
}
@media(max-width:550px){
    .bh{
        padding: 70px 0px 0px 5%;
        font-size: 35px;
}
}
.lgrg{
    display: flex;
    padding: 0px 0px 0px 55px;
}
@media(max-width:550px){
    .lgrg{
        display: flex;
        padding: 0px 0px 0px 5%;
    }  
}
.lgn{
    padding: 10px 10px 0px 0px;
}
.sl{
    padding-top: 10px;
    color: rgb(182, 182, 182);
}
.rg{
    
    padding: 10px 0px 5px 10px;
}
.rg2{
    text-decoration: none;
    color: rgb(182, 182, 182);
    transition: 0.3s;
}
.rg2:hover{
    color: rgb(243,243,243);
}