.tfd{
    background-color: rgb(155, 187, 233);
    height: 100vh;
    width: 100%;
    padding-bottom: 60px;
}
@media(max-width:550px){
    .tfd{
        width: 100vw;
    }
}
.tfh{
    font-size: 52px;
    width: 50%;
    font-weight: 700;
    font-family: arial;
    padding: 160px 0px 10px 80px;
    color: #0f2949;
}
@media(max-width:500px){
    .tfh{
        width: 90%;
        font-size: 40px;
        padding: 150px 0px 10px 25px;
    }
}
.tfsh{
      font-size: 17px;
      width: 40%;
      padding: 15px 0px 15px 80px;
      color: #525252;
}
@media(max-width:500px){
    .tfsh{
        width: 70%;
        padding: 20px 0px 10px 25px;
    }
}
.buttonf{
    padding: 15px 28px 15px 28px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    transition:0.5s;
    background-color:rgb(7, 81, 151);
    border: 0px;
    color: white;
    margin: 15px 0px 10px 80px;
}
.buttonf:hover{
    background-color: rgb(48, 4, 59);
    color: rgb(255, 255, 255);
}
@media(max-width:500px){
    .buttonf{
        margin: 15px 0px 10px 25px;
    }
}
.buttonf2{
    padding: 15px 28px 15px 28px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    transition:0.5s;
    color:rgb(7, 81, 151);
    border: 0px;
    background-color: rgb(250, 250, 250);
    margin: 15px 0px 10px 10px;
}
.buttonf2:hover{
    background-color: rgb(48, 4, 59);
    color: rgb(255, 255, 255);
}