*{
    margin: 0;
    padding: 0;
}
.nov11d{
    text-align: center;
    justify-items: center;
    padding-bottom: 20vh;
    font-family: arial;
}
@media(max-width:500px){
    .nov11d{
        text-align: center;
        font-family: arial;
        padding: 0px 0px 15vh 0%;
    }
}
.layop3{
    color: rgb(7, 81, 151);
    padding: 100px 0px 10px 0px;
    font-size: 15px;
}
@media(max-width:500px){
    .layop3{
        color: rgb(7, 81, 151);
        padding: 100px 0px 10px 0px;
        font-size: 15px;
    }
}
.pc3{
    color: rgb(19,52,91);
    font-size: 35px;
    width: 55%;
}
@media(max-width:500px){
    .pc3{
        color: rgb(19,52,91);
        font-size: 32px;
        width: 90%;
    }
}
.rp3{
    width: 40%;
    padding: 12px 0px 12px 0px;
    color: rgb(46, 46, 46);
}
@media(max-width:500px){
    .rp3{
        width: 90%;
        padding: 10px 0px 10px 0px;
    }
}
.button3{
    padding: 15px 35px 15px 35px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 17px;
    transition:0.3s;
    background-color:rgb(7, 81, 151);
    border: 0px;
    color: white;
    margin: 15px 0px 10px 0px;
}
.button3:hover{
    background-color: rgb(48, 4, 59);
    color: rgb(255, 255, 255);
}
