.nav{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 10;
    height: 60px;
}
@media(max-width:1000px){
    .nav{
        padding: 8px 0px;
    }
}
.logo{
    height: 55px; 
    width: 70px;
    margin-left: 30px;
}
@media(max-width:1024px){
    .logo{
        margin-left: 10px;
    }
}
.ul{
    margin-left: 40vw;
}
@media(max-width:1024px){
    .ul{
        display: none;
        flex-direction: column;
        background-color: #ffffff9f;
        position: absolute;
        right: 0%;
        top: 72.5px;
        border-bottom: 0.5px solid  #46B2CA;
        width: 100%;
        margin-left: 2vw;
        height: max-content;
        margin: 0%;
    }
    .ul.active{
        display: flex;
        flex-direction: column;
        
    }
}
.li{
    display: inline-block;
    font-family: arial ;
    font-size: 15px;
    padding: 0px 8px 0px 8px;
}
@media(max-width:1024px){
    .li{
        padding: 10px 0% 10px 0%;
        text-align: center;
    }
}
.buttonn{
    height: 40px;
    width: 90px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 15px;
    transition:0.5s;
    background-color:rgb(7, 81, 151);
    border: 0px;
    color: white;
    margin-left: 3vw;
}
@media(max-width:1024px){
    .buttonn{
        margin-left: 47%;
    }
}
.buttonn:hover{
    background-color: rgb(48, 4, 59);
    color: rgb(255, 255, 255);
}
.ul li:hover .dropdown {
    transition: 1s;
    display: block;
}
.lia{
    margin-top: 10px;
}
.toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.toggle span {
    width: 25px;
    height: 3px;
    background-color:#292929;
    border-radius: 5px;
    transition: all 0.5s ease;
}
@media(max-width:1024px){
    .toggle{
        display: flex;
        margin-left: 4%;
    }
}
.a{
    color: #41445c;
    font-weight: 400;
    margin-left:22px ;
    font-weight: 600;
    position: relative;
    text-decoration: none;
}

.a:hover, .a.active {
    color: #000;
}
.a::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-top: 20px;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: #093adb;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}
.a:hover::before, .a.active::before {
    width: 100%;
    visibility: visible;
}